[mysqld]

# Скорость IO важнее сохранности данных
## Для случаев, когда небольшая потеря данных не критична.
## В этом случае транзакции будут сбрасываться в лог на диск только раз в секунду.
innodb_flush_log_at_trx_commit = 2

# Размер буффера с незакомиченными транзакциями 1 Мб
## Но минимальный размер - 4Мб, оставим минималку.
innodb_log_file_size=4MB

# Буффер кеширования 30% от ОЗУ
## Предположим, что на сервере выделено 16GB RAM.
## В данном случае, 30% от этого значения будет 5GB
innodb_buffer_pool_size=5368709120

# Размер файла логов операций 100 Мб
max_binlog_size=104857600
